body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://i.pinimg.com/originals/6e/24/eb/6e24eb82e16893d73bae466961a1cc0a.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
  }

  .cartas-Jogador {
    margin-left: 16px;
    margin-top: 16px;
    color: #03e9f4;
    font-size: 16px;
    display: flex;
    
    align-self: flex-end;
    font-weight: bolder;
    padding: 8px 16px;
    background:#000000;
    border-radius: 100px;
    border-color: #03e9f4;
    border-style: outset;
    position: absolute;
    }
    
    .cartas-Máquina {
    margin-left: 83%;
    margin-top: 16px;
    color:#03e9f4;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    
    align-self: flex-end;
    font-weight: bolder;
    padding: 8px 16px;
    background:#000000;
    border-radius: 100px;
    border-color: #03e9f4;
    border-style:inset;
    position: absolute;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button, .button-jogar {
    cursor: pointer;
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2 {
    color: white;
}

#carta-jogador, #carta-maquina {
    width: 400px;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 370px 375px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 199px;
    margin: 2rem;
    text-align: justify;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 10px 10px;
}

.resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

.novo-jogo {
    position: relative;
    display: inline-block;
    padding: 1rem;
    color: #03e9f4;
    background-color:black;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; 
    overflow: hidden;
    transition: .5s; 
    margin-top: 20px;
    letter-spacing: 2px;
}

.novo-jogo:hover {
    cursor: pointer;
    background: #03e9f4;
    color: rgb(10, 11, 21);
    border-radius: 5px; 
}

.mao-Jogador {
    min-width: 300px;
    text-align: left;
    padding: 20px;
    color: #03e9f4;
    background:black;
    border-radius: 20px;
    border-color: #03e9f4;
    border-style: outset;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3QQofcCv554yOuhN13ynvayh6KdxG0NtxslD0yCCmPRKCOkvse4cSLE-nUHoA-Y9C_3g&usqp=CAU");
    visibility: visible;
    /* 
    "https://wilderkoda.files.wordpress.com/2012/07/011.jpg"
    "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3QQofcCv554yOuhN13ynvayh6KdxG0NtxslD0yCCmPRKCOkvse4cSLE-nUHoA-Y9C_3g&usqp=CAU"
    
    */
    background-size: contain;
    /*background-position: center top;*/
    /*background-repeat: no-repeat;
    padding-bottom: 20vh;*/
}


.btn__ok{
    position: relative;
    display: inline-block;
    padding: 1rem;
    color: #03e9f4;
    background-color:black;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; 
    overflow: hidden;
    transition: .5s; 
    margin-top: 20px;
    letter-spacing: 2px;
    margin:37%;
}

.btn__ok:hover {
    cursor: pointer;
    background: #03e9f4;
    color: rgb(10, 11, 21);
    border-radius: 5px; 
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carta-subtitle {
    z-index: 2;
    position: absolute; 
    /*top: 16px;*/
    top: 26px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carta-status p {
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
}