body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://static.wikia.nocookie.net/ssu/images/3/32/Est%C3%A1tua_de_Atena_SSH.png/revision/latest?cb=20190617220909');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 60px;
}

.main {
    text-align: center;
    padding: 20px;
    margin-top:100px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

h2 {
    font-size: 45px;
    color: #cfc72d;
    filter: drop-shadow(2px 2px 1px #FAEA10);
    filter: drop-shadow(1px 1px 2px #FAEA10);
}

.btn__comecar {
    position: relative;
    display: inline-block;
    padding: 20px 30px 20px 30px;
    color: #cfc72d;
    background-color: #000000;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none; /*tira o sublinhado*/
    text-transform: uppercase; /*coloca o texto inteiro em caixa alta*/
    overflow: hidden;
    transition: .5s; /*efeito de transição para aparecer o link na tela. Só conta o 1º nº*/
    margin-top: 140px;
    letter-spacing: 4px; /*espaço entre letras*/
}

.btn__comecar:hover {
    /*efeito ao passar o mouse sobre o botão*/
    background: #cfc72d;
    color: rgb(10, 11, 21); /*cor do texto ao passar o mouse por cima*/
    border-radius: 5px; /* arredonda as bordas*/
    box-shadow: 0 0 5px palegoldenrod, 0 0 25px palegoldenrod, 0 0  50px palegoldenrod, 0 0 100px palegoldenrod;
    border:#ffffff;
}

.btn__comecar span {
    position: absolute;
    display: block;
}

.btn__comecar span:nth-child(1) {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #cfc72d);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn__comecar span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cfc72d);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn__comecar span:nth-child(3) {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #cfc72d);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn__comecar span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cfc72d);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
